
body{
  margin:0;
  padding:0;
}


header {
  position: fixed;
  top:22px;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: 2;
  border-bottom: 1px solid #ccc;
  flex-shrink:1

}

.anchorbar{
  margin-left: 50px;
  font-family: 'Roboto', sans-serif;
  display:inline-block;
}

.anchorlink {
  padding:8px;
}

#name {
    width: 250px;
    height: 100px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
font-family: 'Raleway', sans-serif;
font-size: 1.5em;
font-weight: bold;
}

.socialtags {
  width:20px;
  position: absolute;
  top:-10px;
  right: 80px;
  z-index: 2;
 
}

  main {
  background-color: red;
  display: flex;
  flex-flow:  row wrap;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  align-content:center;
}


.flex-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction:row;
}

.item {
  height: 31%;
  width: 31%;
  margin: auto;
   background-color: blue;
}



